<ion-header>
  <ion-toolbar>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="./new-offer">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="new-offer">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>New Offer</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="edit-offer">
        <ion-icon name="create"></ion-icon>
        <ion-label>Edit offer</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="offers-booking">
        <ion-icon name="book"></ion-icon>
        <ion-label>Booking</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let offer of places" [routerLink]="['../discover/details', offer.id]">
            <ion-thumbnail slot="start">
              <ion-img [src]="offer.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h3>{{ offer.title }}</h3>
              <p>{{ offer.description }}</p>
              <p>{{ offer.price | currency }} / Night</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
